.static-dyn-prop-diagram .graph {
  position: relative;
}
.static-dyn-prop-diagram .body-left {
  margin-top: 200px;
  padding-bottom: 400px;
}
.property-label {
  font-family: 'Open Sans';
  font-size: 16px;
  color: #565656;
}
.number-label-left {
  text-anchor: end;
}
.static-dyn-prop-diagram img {
  position: absolute;
  width: 12%;
}
.static-dyn-prop-diagram .static-line {
  stroke-width: 1;
  stroke: #36B7CF;
}
.dynamic-circle {
  fill: none;
  stroke: #36B7CF;
  stroke-dasharray: 2, 4;
}
.dynamic-line-1,
.dynamic-line-2 {
  stroke-width: 1;
  stroke: #36B7CF;
  stroke-dasharray: 2, 4;
}
.dynamic-line-1-fill {
  stroke-width: 1.5;
  stroke: #36B7CF;
}
.dynamic-circle-fill {
  stroke: #36B7CF;
}
.dynamic-line-2-fill {
  stroke-width: 1.5;
  stroke: #36B7CF;
}