$scroll-line-height: calc(700px + 100vh);

.content .static-dyn-prop-diagram {
  height: $scroll-line-height;
  margin-top: 200px;

  & + div {
    margin-top: 0;

    .body-left {
      margin-top: 0;
    }
  }

  .row {
    top: 0;
    float: left;
    height: 100vh;
  }

  &.graph-scroll-fixed .row {
    position: fixed;
    left: 47px;
    width: calc(100% - 32px);
    padding-left: 15px;

    @media(min-width: 992px){
      left: 310px;
      width: calc(100% - 385px);
    }
  }

  &.graph-scroll-below .row {
    position: absolute;
    right: 0;
    bottom: 0;
    top: auto;
  }

  .body-left {
    margin-top: 0;
    padding-top: 35vh;
  }

  .body-right {
    position: relative;
    padding-top: 30vh;
    height: 100%;

    .graph {
      position: relative;
      width: 100%;
      height: 80%;
    }
  }

  .scroll-line {
    position: relative;
    top: 0;
    width: 0;
    height: $scroll-line-height;
    float: left;

    div {
      width: 100%;
      height: 100%;
    }
  }

  &.graph-scroll-fixed .body-right {
    position: relative;
    right: 0;
    left: 0;
    width: 50%;
  }
  &.graph-scroll-below .body-right {
    position: relative;
    right: auto;
    bottom: auto;
    top: auto;
  }
}

.property-label {
  font-family: 'Open Sans';
  font-size: 16px;
  color: #565656;
}
.number-label-left {
  text-anchor: end;
}
.static-dyn-prop-diagram img {
  position: absolute;
  width: 12%;
}
.static-dyn-prop-diagram .static-line {
  stroke-width: 1;
  stroke: #36B7CF;
}
.dynamic-circle {
  fill: none;
  stroke: #36B7CF;
  stroke-dasharray: 2, 4;
}
.dynamic-line-1,
.dynamic-line-2 {
  stroke-width: 1;
  stroke: #36B7CF;
  stroke-dasharray: 2, 4;
}
.dynamic-line-1-fill {
  stroke-width: 1.5;
  stroke: #36B7CF;
}
.dynamic-circle-fill {
  stroke: #36B7CF;
}
.dynamic-line-2-fill {
  stroke-width: 1.5;
  stroke: #36B7CF;
}