<div id="sidebar" class="sidebar">
  <div class="sidebar-label">QIX Tutorial</div>
  <div><a href="javascript:void(0)" class="closebtn">&times;</a></div>
  <hr/>
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#"><span class="glyphicon glyphicon-menu-down"></span> 100. Qlik's open ecosystem</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-menu-right"></span> 101. What are extensions</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-menu-right"></span> 102. Hello World</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-menu-right"></span> 103. Make it data driven</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-menu-right"></span> 104. Make it selectable</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-menu-right"></span> 105. Make it stylish</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-menu-right"></span> 106. Make it responsive</a></li>
  </ul>
</div>