<div id="sidebar" class="sidebar">
  <div class="sidebar-label">Qlik Extension Tutorial</div>
  <div><a href="javascript:void(0)" class="closebtn">&times;</a></div>
  </br>
  </br>
  <hr/>
  <ul class="nav nav-sidebar">
    <li class="chapter-0"><a href="100. Prereq Qliks Open Ecosystem.html"><span class="glyphicon glyphicon-menu-right"></span> 100. Qlik's open ecosystem</a>
      <ul class="nav sub-sidebar sublist-0">
        <li><a href="#h2-0">Meet the Qlik Sense client</a></li>
        <li><a href="#h2-1">Qlik Sense under the hood</a></li>
        <li><a href="#h2-2">The open ecosystem</a></li>
        <li><a href="#h2-3">Why an open ecosystem?</a></li>
        <li><a href="#h2-4">Fin</a></li>
      </ul>
    </li>
    <li class="chapter-1"><a href="101. What Are Extensions.html"><span class="glyphicon glyphicon-menu-right"></span> 101. What are extensions</a>
      <ul class="nav sub-sidebar sublist-1">
        <li><a href="#h2-0">What are extensions conceptually?</a></li>
        <li><a href="#h2-1">What are extensions technically?</a></li>
        <li><a href="#h2-2">How do you deploy an extension?</a></li>
        <li><a href="#h2-3">Fin</a></li>
      </ul>
    </li>
    <li class="chapter-2"><a href="102. Hello World.html"><span class="glyphicon glyphicon-menu-right"></span> 102. Hello World</a>
      <ul class="nav sub-sidebar sublist-2">
        <li><a href="#h2-0">Prerequisites</a></li>
        <li><a href="#h2-1">Anatomy of an extension</a></li>
        <li><a href="#h2-2">Setting up development environment</a></li>
        <li><a href="#h2-3">Wiring it together with code</a></li>
        <li><a href="#h2-4">Fin</a></li>
      </ul>
    </li>
    <li class="chapter-3"><a href="103. Make it Data Driven.html"><span class="glyphicon glyphicon-menu-right"></span> 103. Make it data driven</a>
      <ul class="nav sub-sidebar sublist-3">
        <li><a href="#h2-0">Lifecycle of an Extension</a></li>
        <li><a href="#h2-1">Defining Our Data</a></li>
        <li><a href="#h2-2">Fin</a></li>
      </ul>
    </li>
    <li class="chapter-4"><a href="104. Make it Selectable.html"><span class="glyphicon glyphicon-menu-right"></span> 104. Make it selectable</a>
      <ul class="nav sub-sidebar sublist-4">
        <li><a href="#h2-0">The backend API</a></li>
        <li><a href="#h2-1">Adding selections to our table</a></li>
        <li><a href="#h2-2">Fin</a></li>
      </ul>
    </li>
    <li class="chapter-5"><a href="105. Make it Stylish.html"><span class="glyphicon glyphicon-menu-right"></span> 105. Make it stylish</a>
      <ul class="nav sub-sidebar sublist-5">
        <li><a href="#h2-0">Creating a stylesheet</a></li>
        <li><a href="#h2-1">Module loading</a></li>
        <li><a href="#h2-2">Keep it modular</a></li>
        <li><a href="#h2-3">Adding custom property panel items</a></li>
        <li><a href="#h2-4">Fin</a></li>
      </ul>
    </li>
    <li class="chapter-6"><a href="106. Make it Responsive.html"><span class="glyphicon glyphicon-menu-right"></span> 106. Make it responsive</a>
      <ul class="nav sub-sidebar sublist-6">
        <li><a href="#h2-0">Adding responsiveness via CSS</a></li>
        <li><a href="#h2-1">Adding responsiveness via JS</a></li>
        <li><a href="#h2-2">Fin</a></li>
      </ul>
    </li>
    <li class="chapter-7"><a href="107. Make it Universal.html"><span class="glyphicon glyphicon-menu-right"></span> 107. Make it universal</a>
      <ul class="nav sub-sidebar sublist-7">
        <li><a href="#h2-0">Environment Context</a></li>
        <li><a href="#h2-1">Printing Extensions</a></li>
        <li><a href="#h2-2">Fin</a></li>
      </ul>
    </li>
    <li class="chapter-8"><a href="108. Make it Scalable.html"><span class="glyphicon glyphicon-menu-right"></span> 108. Make it scalable</a>
      <ul class="nav sub-sidebar sublist-8">
        <li><a href="#h2-0">Paging the Data</a></li>
        <li><a href="#h2-1">Pulling All Pages in Parallel and in Sequence</a></li>
        <li><a href="#h2-2">Fin</a></li>
      </ul>
    </li>
  </ul>
</div>