.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 100%;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #2E3037; }

.sidebar .closebtn {
  position: absolute;
  right: 25px;
  display: block;
  text-align: right;
  float: left;
  font-size: 14px;
  color: #fff; }

.hamburger-open {
  position: fixed;
  display: block;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  cursor: pointer; }

.sidebar.active {
  width: 220px;
  padding: 10px; }

.sidebar-label {
  position: relative;
  float: left;
  margin-top: 6px;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 18px;
  color: white; }

.sidebar hr {
  position: relative;
  top: 16px;
  border-top-color: #6EE8FC;
  left: -10px;
  width: 220px;
  z-index: 100; }

.nav-sidebar .sub-sidebar {
  display: none; }

.nav-sidebar {
  margin-right: -10px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: -10px; }

.nav-sidebar > li > a {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  width: 220px;
  padding-right: 10px;
  padding-left: 10px;
  color: #fff; }

.nav-sidebar > .active > a,
#sidebar .nav > li > a:hover,
#sidebar .nav > li > a:focus {
  background-color: #353D43;
  border-left: 3px solid #6EE8FC; }

@media (min-width: 992px) {
  .sidebar {
    width: 220px;
    padding: 10px; }
  .sidebar .closebtn {
    display: none; }
  .hamburger-open {
    display: none; } }

.sidebar .sub-sidebar a {
  font-family: "Open Sans";
  padding-left: 60px;
  font-weight: 300;
  color: #DFDFDF; }
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url(./fonts/OpenSans-Light.eot);
  src: url(./fonts/OpenSans-Light.eot?#iefix) format("embedded-opentype"), url(./fonts/OpenSans-Light.woff2) format("woff2"), url(./fonts/OpenSans-Light.woff) format("woff"), url(./fonts/OpenSans-Light.ttf) format("truetype"), url(./images/OpenSans-Light.svg#OpenSansLight) format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url(./fonts/OpenSans-LightItalic.eot);
  src: url(./fonts/OpenSans-LightItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/OpenSans-LightItalic.woff2) format("woff2"), url(./fonts/OpenSans-LightItalic.woff) format("woff"), url(./fonts/OpenSans-LightItalic.ttf) format("truetype"), url(./images/OpenSans-LightItalic.svg#OpenSansLightItalic) format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url(./fonts/OpenSans-Regular.eot);
  src: url(./fonts/OpenSans-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/OpenSans-Regular.woff2) format("woff2"), url(./fonts/OpenSans-Regular.woff) format("woff"), url(./fonts/OpenSans-Regular.ttf) format("truetype"), url(./images/OpenSans-Regular.svg#OpenSansRegular) format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: italic;
  src: url(./fonts/OpenSans-Italic.eot);
  src: url(./fonts/OpenSans-Italic.eot?#iefix) format("embedded-opentype"), url(./fonts/OpenSans-Italic.woff2) format("woff2"), url(./fonts/OpenSans-Italic.woff) format("woff"), url(./fonts/OpenSans-Italic.ttf) format("truetype"), url(./images/OpenSans-Italic.svg#OpenSansItalic) format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url(./fonts/OpenSans-Semibold.eot);
  src: url(./fonts/OpenSans-Semibold.eot?#iefix) format("embedded-opentype"), url(./fonts/OpenSans-Semibold.woff2) format("woff2"), url(./fonts/OpenSans-Semibold.woff) format("woff"), url(./fonts/OpenSans-Semibold.ttf) format("truetype"), url(./images/OpenSans-Semibold.svg#OpenSansSemibold) format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url(./fonts/OpenSans-SemiboldItalic.eot);
  src: url(./fonts/OpenSans-SemiboldItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/OpenSans-SemiboldItalic.woff2) format("woff2"), url(./fonts/OpenSans-SemiboldItalic.woff) format("woff"), url(./fonts/OpenSans-SemiboldItalic.ttf) format("truetype"), url(./images/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic) format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  src: url(./fonts/OpenSans-Bold.eot);
  src: url(./fonts/OpenSans-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/OpenSans-Bold.woff2) format("woff2"), url(./fonts/OpenSans-Bold.woff) format("woff"), url(./fonts/OpenSans-Bold.ttf) format("truetype"), url(./images/OpenSans-Bold.svg#OpenSansBold) format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: italic;
  src: url(./fonts/OpenSans-BoldItalic.eot);
  src: url(./fonts/OpenSans-BoldItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/OpenSans-BoldItalic.woff2) format("woff2"), url(./fonts/OpenSans-BoldItalic.woff) format("woff"), url(./fonts/OpenSans-BoldItalic.ttf) format("truetype"), url(./images/OpenSans-BoldItalic.svg#OpenSansBoldItalic) format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  src: url(./fonts/OpenSans-ExtraBold.eot);
  src: url(./fonts/OpenSans-ExtraBold.eot?#iefix) format("embedded-opentype"), url(./fonts/OpenSans-ExtraBold.woff2) format("woff2"), url(./fonts/OpenSans-ExtraBold.woff) format("woff"), url(./fonts/OpenSans-ExtraBold.ttf) format("truetype"), url(./images/OpenSans-ExtraBold.svg#OpenSansExtrabold) format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  src: url(./fonts/OpenSans-ExtraBoldItalic.eot);
  src: url(./fonts/OpenSans-ExtraBoldItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/OpenSans-ExtraBoldItalic.woff2) format("woff2"), url(./fonts/OpenSans-ExtraBoldItalic.woff) format("woff"), url(./fonts/OpenSans-ExtraBoldItalic.ttf) format("truetype"), url(./images/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic) format("svg"); }

/* BEGIN Thin */
@font-face {
  font-family: 'Roboto Slab';
  src: url(./fonts/RobotoSlab-Thin.woff2) format("woff2"), url(./fonts/RobotoSlab-Thin.woff) format("woff"), url(./fonts/RobotoSlab-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal; }

/* END Thin */
/* BEGIN Light */
@font-face {
  font-family: 'Roboto Slab';
  src: url(./fonts/RobotoSlab-Light.woff2) format("woff2"), url(./fonts/RobotoSlab-Light.woff) format("woff"), url(./fonts/RobotoSlab-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

/* END Light */
/* BEGIN Regular */
@font-face {
  font-family: 'Roboto Slab';
  src: url(./fonts/RobotoSlab-Regular.woff2) format("woff2"), url(./fonts/RobotoSlab-Regular.woff) format("woff"), url(./fonts/RobotoSlab-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: url(./fonts/RobotoSlab-Regular.woff2) format("woff2"), url(./fonts/RobotoSlab-Regular.woff) format("woff"), url(./fonts/RobotoSlab-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

/* END Regular */
/* BEGIN Bold */
@font-face {
  font-family: 'Roboto Slab';
  src: url(./fonts/RobotoSlab-Bold.woff2) format("woff2"), url(./fonts/RobotoSlab-Bold.woff) format("woff"), url(./fonts/RobotoSlab-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: url(./fonts/RobotoSlab-Bold.woff2) format("woff2"), url(./fonts/RobotoSlab-Bold.woff) format("woff"), url(./fonts/RobotoSlab-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

/* END Bold */
@font-face {
  font-family: 'Raleway';
  src: local("Raleway Bold"), local("Raleway-Bold"), url(./fonts/Raleway-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway Extra Bold"), local("Raleway-ExtraBold"), url(./fonts/Raleway-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway Extra Light"), local("Raleway-ExtraLight"), url(./fonts/Raleway-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway Heavy"), local("Raleway-Heavy"), url(./fonts/Raleway-Heavy.ttf) format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway Light"), local("Raleway-Light"), url(./fonts/Raleway-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway Medium"), local("Raleway-Medium"), url(./fonts/Raleway-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway Regular"), local("Raleway-Regular"), url(./fonts/Raleway-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway Semi Bold"), local("Raleway-SemiBold"), url(./fonts/Raleway-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway Thin"), local("Raleway-Thin"), url(./fonts/Raleway-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal; }

/* ========= Container =========*/
body {
  overflow-x: hidden; }

.main-content {
  margin-left: 47px; }

.content {
  width: 100%; }

/* ========= Header =========*/
.content .header h1 {
  margin-top: 66px;
  font-family: Raleway;
  font-weight: 500;
  color: #36B7CE; }

.content .header p {
  font-family: "Open Sans";
  font-weight: 300;
  padding: 15px 26px 17px 24px;
  background-color: rgba(54, 183, 207, 0.07); }

.content .header hr {
  border-top-width: 1px;
  border-top-color: #E1E1E1;
  margin-bottom: 0; }

/* ========= Body =========*/
.content h2 {
  margin-top: 0;
  margin-bottom: 18px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #36B7CF; }

.content h3 {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: #36B7CF; }

.content h4 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #36B7CF; }

.content p {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  color: #565555;
  line-height: 30px; }

.content .row {
  position: relative;
  clear: both; }

.content .section {
  margin-top: 100px; }

/* ========= Graphs ========= */
.section {
  position: relative; }
  .section .row .body-left {
    margin-top: 100px;
    padding-right: 30px; }
    .section .row .body-left .graph-scroll-active {
      opacity: 1; }

#section-0 .body-left {
  margin-top: 0; }

.body-right {
  padding-top: 100px;
  padding-left: 30px;
  top: 0;
  right: 0;
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateY(0); }

#section-0 .body-right {
  margin-top: 0;
  padding-top: 0;
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateY(0); }

.graph-scroll-fixed .body-right {
  position: fixed;
  right: 0;
  left: calc(47px + 0.5*(100% - 47px));
  width: calc(0.5*(100% - 47px)); }

.graph-scroll-below .body-right {
  position: absolute;
  right: 0;
  bottom: 0;
  top: auto; }

/* ========= Ace Editor ========= */
.ace_editor .ace_gutter,
.ace_editor .ace_scroller {
  padding-top: 10px; }

.ace_editor .ace_gutter {
  border-left: 5px solid #36B7CF; }
  .ace_editor .ace_gutter .ace_fold-widget {
    display: none; }

.ace_editor .copy-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 54px;
  height: 24px;
  background-color: #36B7CF;
  color: white;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 24px;
  z-index: 100;
  cursor: pointer; }

.my-marker {
  position: absolute;
  background: #1366aa;
  z-index: 5; }

.tooltip.top .tooltip-inner {
  background-color: #777; }

.tooltip.top .tooltip-arrow {
  border-top-color: #777; }

/* ========= Media =========*/
@media (min-width: 768px) {
  /*.content .section-list .body-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }*/ }

@media (min-width: 992px) {
  .content {
    width: calc(100% - 180px);
    margin-left: 90px;
    margin-right: 90px; }
  .graph-scroll-fixed .body-right {
    left: calc(220px + 0.50*(100% - 220px));
    width: calc(0.5*(100% - 400px)); } }
