#sidebar .nav-sidebar .sub-sidebar {
  display: none; }

#sidebar .nav-sidebar .sublist-3 {
  display: block; }

.ace_editor {
  width: 100%;
  height: 400px; }

#section-0 {
  margin-top: 50px; }

.content .lifecycle-of-extension + div {
  margin-top: 0; }
  .content .lifecycle-of-extension + div .body-left {
    margin-top: 0; }

.initial-properties-editor.section .body-right,
.definition-editor.section .body-right,
.definition-editor-2.section .body-right,
.paint-editor.section .body-right,
.paint-editor-2.section .body-right,
.paint-editor-3.section .body-right,
.paint-editor-4.section .body-right {
  padding-top: 58px; }

.convert-extension.section .body-right {
  padding-top: 152px; }

.initial-properties-editor .ace_editor {
  height: calc(16px*18); }

.definition-editor .body-left {
  padding-bottom: 100px; }

.definition-editor .ace_editor {
  height: calc(16px*17); }

.add-dimension .body-left {
  padding-bottom: 100px; }

.definition-editor-2 .body-left {
  padding-bottom: 100px; }

.definition-editor-2 .ace_editor {
  height: calc(16px*25); }

.properties-panel.section .body-right {
  padding-top: 152px; }

.content .data-pages.section + div {
  margin-top: 0; }
  .content .data-pages.section + div .body-left {
    margin-top: 0; }

.paint-editor .body-left {
  padding-bottom: 150px; }

.paint-editor .ace_editor {
  height: calc(16px*8); }

.paint-editor-2 .body-left {
  padding-bottom: 150px; }

.paint-editor-2 .ace_editor {
  height: calc(16px*14); }

.paint-editor-3 .body-left {
  padding-bottom: 150px; }

.paint-editor-3 .ace_editor {
  height: calc(16px*41); }

.headers .body-left {
  padding-bottom: 100px; }

.paint-editor-4 .body-left {
  padding-bottom: 150px; }

.paint-editor-4 .ace_editor {
  height: calc(16px*32); }

.ext-table .body-left {
  padding-bottom: 100px; }
.content .data-pages {
  height: 100vh; }
  .content .data-pages .row {
    top: 0;
    float: left;
    height: 100vh; }
  .content .data-pages.graph-scroll-fixed .row {
    position: fixed;
    left: 47px;
    width: calc(100% - 32px);
    padding-left: 15px; }
    @media (min-width: 992px) {
      .content .data-pages.graph-scroll-fixed .row {
        left: 310px;
        width: calc(100% - 385px); } }
  .content .data-pages.graph-scroll-below .row {
    position: absolute;
    right: 0;
    bottom: 0;
    top: auto; }
  .content .data-pages .body-left {
    margin-top: 0;
    padding-top: 10vh; }
    .content .data-pages .body-left p {
      opacity: 0.2; }
    .content .data-pages .body-left p.current {
      opacity: 1; }
    .content .data-pages .body-left .button-container {
      text-align: center; }
      .content .data-pages .body-left .button-container button {
        margin: 0 20px; }
  .content .data-pages .body-right {
    vertical-align: middle;
    position: relative;
    padding-top: 0;
    height: 100%; }
    .content .data-pages .body-right .graph {
      position: relative;
      width: 100%;
      height: 100%; }
      .content .data-pages .body-right .graph img {
        position: relative;
        top: 35%;
        transform: translateY(-50%); }
  .content .data-pages .scroll-line {
    position: relative;
    top: 0;
    width: 0;
    height: calc(2400px + 100vh);
    float: left; }
    .content .data-pages .scroll-line div {
      width: 100%;
      height: 100%; }
  .content .data-pages.graph-scroll-fixed .body-right {
    position: relative;
    right: 0;
    left: 0;
    width: 50%; }
  .content .data-pages.graph-scroll-below .body-right {
    position: relative;
    right: auto;
    bottom: auto;
    top: auto; }
.content .lifecycle-of-extension {
  height: calc(1100px + 100vh); }
  .content .lifecycle-of-extension .row {
    top: 0;
    float: left;
    height: 100vh; }
  .content .lifecycle-of-extension.graph-scroll-fixed .row {
    position: fixed;
    left: 47px;
    width: calc(100% - 32px);
    padding-left: 15px; }
    @media (min-width: 992px) {
      .content .lifecycle-of-extension.graph-scroll-fixed .row {
        left: 310px;
        width: calc(100% - 385px); } }
  .content .lifecycle-of-extension.graph-scroll-below .row {
    position: absolute;
    right: 0;
    bottom: 0;
    top: auto; }
  .content .lifecycle-of-extension .body-left {
    margin-top: 0;
    padding-top: 25vh; }
  .content .lifecycle-of-extension .body-right {
    vertical-align: middle;
    position: relative;
    padding-top: 0;
    height: 100%; }
    .content .lifecycle-of-extension .body-right .graph {
      position: relative;
      width: 100%;
      height: 100%; }
      .content .lifecycle-of-extension .body-right .graph img {
        position: relative;
        top: 45%;
        transform: translateY(-50%); }
  .content .lifecycle-of-extension .scroll-line {
    position: relative;
    top: 0;
    width: 0;
    height: calc(1100px + 100vh);
    float: left; }
    .content .lifecycle-of-extension .scroll-line div {
      width: 100%;
      height: 100%; }
  .content .lifecycle-of-extension.graph-scroll-fixed .body-right {
    position: relative;
    right: 0;
    left: 0;
    width: 50%; }
  .content .lifecycle-of-extension.graph-scroll-below .body-right {
    position: relative;
    right: auto;
    bottom: auto;
    top: auto; }
