#sidebar .nav-sidebar .sub-sidebar {
  display: none; }

#sidebar .nav-sidebar .sublist-5 {
  display: block; }

.ace_editor {
  width: 100%;
  height: 400px; }

#section-0 {
  margin-top: 50px; }

.files-with-stylesheet.section .body-right {
  padding-top: 152px; }

.css-editor.section .body-right,
.require-js-editor.section .body-right,
.require-js-editor-2.section .body-right,
.require-js-editor-3.section .body-right,
.require-js-editor-4.section .body-right,
.javascript-editor-2.section .body-right,
.properties-editor.section .body-right,
.properties-editor-2.section .body-right,
.properties-editor-3.section .body-right,
.properties-editor-4.section .body-right {
  padding-top: 58px; }

.css-editor.section .ace_editor {
  height: calc(16px*6); }

.require-js-editor.section .ace_editor {
  height: calc(16px*6); }

.require-js-editor-2.section .ace_editor {
  height: calc(16px*6); }

.require-js-editor-3.section .ace_editor {
  height: calc(16px*6); }

.require-js-editor-4.section .ace_editor {
  height: calc(16px*11); }

.keep-it-modular.section + div {
  margin-top: 0; }
  .keep-it-modular.section + div .body-left {
    margin-top: 0; }

.javascript-editor-2.section .ace-editor {
  height: calc(16px*20); }

.properties-editor.section .ace-editor {
  height: calc(16px*7); }

.properties-editor-2.section .ace-editor {
  height: calc(16px*9); }

.properties-editor-3.section .ace-editor {
  height: calc(16px*13); }

.properties-editor-4.section .ace-editor {
  height: calc(16px*6); }
.content .keep-it-modular {
  height: 100vh; }
  .content .keep-it-modular .row {
    top: 0;
    float: left;
    height: 100vh; }
  .content .keep-it-modular.graph-scroll-fixed .row {
    position: fixed;
    left: 47px;
    width: calc(100% - 32px);
    padding-left: 15px; }
    @media (min-width: 992px) {
      .content .keep-it-modular.graph-scroll-fixed .row {
        left: 310px;
        width: calc(100% - 385px); } }
  .content .keep-it-modular.graph-scroll-below .row {
    position: absolute;
    right: 0;
    bottom: 0;
    top: auto; }
  .content .keep-it-modular .body-left {
    margin-top: 0;
    padding-top: 10vh; }
    .content .keep-it-modular .body-left li {
      opacity: 0.2; }
    .content .keep-it-modular .body-left li.current {
      opacity: 1; }
    .content .keep-it-modular .body-left .button-container {
      text-align: center; }
      .content .keep-it-modular .body-left .button-container button {
        margin: 0 20px; }
  .content .keep-it-modular .body-right {
    vertical-align: middle;
    position: relative;
    padding-top: 150px;
    height: 100%; }
    .content .keep-it-modular .body-right .graph {
      position: relative;
      width: 100%;
      height: 100%; }
      .content .keep-it-modular .body-right .graph .transparent {
        opacity: 0; }
      .content .keep-it-modular .body-right .graph img {
        position: absolute;
        top: 20%;
        transform: translateY(-50%); }
      .content .keep-it-modular .body-right .graph .editor-container {
        width: 100%;
        top: 20%; }
        .content .keep-it-modular .body-right .graph .editor-container .inactive-link {
          pointer-events: none;
          cursor: default; }
      .content .keep-it-modular .body-right .graph .editor-container:nth-of-type(4) .ace_text-layer div:nth-of-type(n+3):nth-of-type(-n+17) {
        text-decoration: line-through;
        text-decoration-color: #a00; }
  .content .keep-it-modular .scroll-line {
    position: relative;
    top: 0;
    width: 0;
    height: calc(4400px + 100vh);
    float: left; }
    .content .keep-it-modular .scroll-line div {
      width: 100%;
      height: 100%; }
  .content .keep-it-modular.graph-scroll-fixed .body-right {
    position: relative;
    right: 0;
    left: 0;
    width: 50%; }
  .content .keep-it-modular.graph-scroll-below .body-right {
    position: relative;
    right: auto;
    bottom: auto;
    top: auto; }
