#sidebar .nav-sidebar .sub-sidebar {
  display: none; }

#sidebar .nav-sidebar .sublist-7 {
  display: block; }

.ace_editor {
  width: 100%;
  height: 400px; }

#section-0 {
  margin-top: 50px; }

.support-editor.section .body-right,
.paint-editor.section .body-right,
.paint-editor-2.section .body-right {
  padding-top: 58px; }

.support-editor.section .ace_editor {
  height: calc(16px*10); }

.paint-editor.section .ace_editor {
  height: calc(16px*7); }

.paint-editor-2.section .ace_editor {
  height: calc(16px*14); }
