#sidebar {
  .nav-sidebar {
    .sub-sidebar{
      display: none;
    }
    .sublist-4 {
      display: block;
    }
  }
}

.ace_editor {
  width: 100%;
  height: 400px;
}

#section-0 {
  margin-top: 50px;
}

.select-values-api {
  .body-left {
    & > * {
      padding-top: 150px;
      padding-bottom: 50px;
      opacity: 0.3;
    }
  }

  .body-right {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 125px;

    .graph {
      .table-container {
        table {
          font-family: 'Open Sans';
          font-size: 14px;

          thead {
            font-weight: bold;
            color: #A1A1A1;

            tr {
              th {
                height: 25px;

                &:nth-of-type(3){
                  text-align: right;
                }
              }
            }
          }

          tbody {
            tr {
              td {
                font-weight: 300;
                color: #5A5A5A;
                height: 25px;

                &:first-of-type {
                  width: 100px;
                }

                &:nth-of-type(2){
                  font-style: italic;
                  color: #47BDD3;
                  width: 50px;
                  text-align: center;
                }

                &:nth-of-type(3){
                  text-align: right;
                  width: 100px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.paint-editor.section,
.paint-editor-2.section, 
.paint-editor-3.section, 
.paint-editor-4.section {
  .body-right {
    padding-top: 58px;
  }
}

.extension-selection .body-left {
  padding-bottom: 50px;
}