/* Activate Sidebar Selection */
#sidebar .nav-sidebar{
  .sub-sidebar{
    display: none;
  }

  .sublist-1{
    display: block;
  }
}

.content .header p:first-of-type {
  font-family: "Raleway";
  font-size: 20px;
  color: #565555;
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin-bottom: 33px;
}

.ext-navigation .body-left {
  padding-bottom: 100px;
}

.ext-resize {
  .body-left {
    padding-bottom: 150px;
  }

  .body-right {
    padding-top: 200px;
  }
}

.sense-sankey-download .body-left {
  padding-bottom: 90px;
}

.sense-sankey-folder .body-left {
  padding-bottom: 30px;
}

.sense-sankey-custom-objects .graph img {
  max-height: 350px;
}
.sense-sankey-custom-objects .body-left {
  padding-bottom: 200px;
}

.import-extensions .body-left {
  padding-bottom: 100px;
}

.sense-sankey-custom-objects2 .graph img {
  max-height: 350px;
}
.sense-sankey-custom-objects2 .body-left {
  padding-bottom: 200px;
}

.drag-drop-ext .body-left {
  padding-bottom: 100px;
}