<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">-->
  </head>
  <body>
    <%= require('html-loader!../sidebar.ejs') %>

    <div class="hamburger-open">&#9776;</div>

    <div class="main-content">
      <div class="container content">
        <div class="header">
          <%= require('html-loader!./100. Prereq Qliks Open Ecosystem-header.ejs') %>
          <hr/>
        </div>
        <div id="body-content">
          <%=require('html-loader!./100. Prereq Qliks Open Ecosystem-body.ejs')%>
        </div>
        <hr/>
      </div>
    </div>


    <script src="jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>