#sidebar .nav-sidebar .sub-sidebar{
  display: none;
}
#sidebar .nav-sidebar .sublist-1{
  display: block;
}

.ext-navigation .body-left {
  padding-bottom: 100px;
}

.ext-resize .body-left {
  padding-bottom: 150px;
}

.sense-sankey-download .body-left {
  padding-bottom: 90px;
}

.sense-sankey-folder .body-left {
  padding-bottom: 30px;
}

.sense-sankey-custom-objects .graph img {
  max-height: 350px;
}
.sense-sankey-custom-objects .body-left {
  padding-bottom: 200px;
}

.import-extensions .body-left {
  padding-bottom: 100px;
}

.sense-sankey-custom-objects2 .graph img {
  max-height: 350px;
}
.sense-sankey-custom-objects2 .body-left {
  padding-bottom: 200px;
}

.drag-drop-ext .body-left {
  padding-bottom: 100px;
}