#sidebar {
  .nav-sidebar {
    .sub-sidebar{
      display: none;
    }
    .sublist-2{
      display: block;
    }
  }
}

.ace_editor {
  width: 100%;
  height: 400px;
}

.resource-list-design {
  .body-right {
    padding-top: 80px;
  }
}

.my-table-folder .body-right {
  padding-top: 300px;
}

.container-and-properties .body-left {
  padding-bottom: 60px;
}

.static-dyn-prop-interactive .body-left {
  padding-bottom: 200px;
}
.static-dyn-prop-interactive .dynamic-line-1,
.static-dyn-prop-interactive .dynamic-line-2 {
  stroke-width: 1;
  stroke: #36B7CF;
  stroke-dasharray: 2, 4;
}
.static-dyn-prop-interactive .dynamic-line-1-fill {
  stroke-width: 1.5;
  stroke: #36B7CF;
}
.static-dyn-prop-interactive .dynamic-circle-fill {
  stroke: #36B7CF;
}
.static-dyn-prop-interactive .dynamic-line-2-fill {
  stroke-width: 1.5;
  stroke: #36B7CF;
}

.properties-layout-visual {
  .body-right {
    padding-top: 0;
  }
}

.content .section.extension-architecture-diagram {
  margin-top: 400px;
  margin-bottom: 400px;

  .body-right {
    padding-top: 0;
  }
}

.qext-editor,
.js-editor,
.initial-properties-editor {
  .body-right {
    padding-top: 58px;
  }
}

.qext-editor {
  .body-left {
    padding-bottom: 100px;
  }
}

.js-editor {
  .body-left {
    padding-bottom: 100px;
  }
}

.initial-properties-editor .body-left {
  padding-bottom: 100px;
}

.definition-editor .body-left {
  padding-bottom: 100px;
}

.def-initprops-editor .body-left {
  padding-bottom: 200px;
}

.paint-editor .body-left {
  padding-bottom: 100px;
}

.js-editor-2 .body-left {
  padding-bottom: 200px;
}

.support-editor .body-left {
  padding-bottom: 100px;
}

.js-editor-3 .body-left {
  padding-bottom: 200px;
}

.qlik-sense-desktop .body-left {
  padding-bottom: 100px;
}

.qsd-in-browser .body-left {
  padding-bottom: 100px;
}

.dev-tools .body-left {
  padding-bottom: 100px;
}

.disable-cache .body-left {
  padding-bottom: 20px;
}