#sidebar .nav-sidebar .sub-sidebar{
  display: none;
}
#sidebar .nav-sidebar .sublist-3{
  display: block;
}

.ace_editor {
  width: 100%;
  height: 400px;
}

#section-0 {
  margin-top: 50px;
}

.content .lifecycle-of-extension + div {
  margin-top: 0;

  .body-left {
    margin-top: 0;
  }
}

.initial-properties-editor.section,
.definition-editor.section,
.definition-editor-2.section,
.paint-editor.section,
.paint-editor-2.section,
.paint-editor-3.section ,
.paint-editor-4.section {
  .body-right {
    padding-top: 58px;
  }
}

.convert-extension.section .body-right {
  padding-top: 152px;
}

.initial-properties-editor {
  .ace_editor {
    height: calc(16px*18);
  }
}

.definition-editor {
  .body-left {
    padding-bottom: 100px;
  }

  .ace_editor {
    height: calc(16px*17);
  }
}

.add-dimension .body-left {
  padding-bottom: 100px;
}

.definition-editor-2 {
  .body-left {
    padding-bottom: 100px;
  }

  .ace_editor {
    height: calc(16px*25);
  }
}

.properties-panel.section .body-right {
  padding-top: 152px;
}

.content .data-pages.section + div {
  margin-top: 0;

  .body-left {
    margin-top: 0;
  }
}

.paint-editor {
  .body-left {
    padding-bottom: 150px;
  }

  .ace_editor {
    height: calc(16px*8);
  }
}

.paint-editor-2 {
  .body-left {
    padding-bottom: 150px;
  }

  .ace_editor {
    height: calc(16px*14);
  }
}

.paint-editor-3 {
  .body-left {
    padding-bottom: 150px;
  }

  .ace_editor {
    height: calc(16px*41);
  }
}

.headers .body-left {
  padding-bottom: 100px;
}

.paint-editor-4 {
  .body-left {
    padding-bottom: 150px;
  }

  .ace_editor {
    height: calc(16px*32);
  }
}

.ext-table .body-left {
  padding-bottom: 100px;
}