#sidebar .nav-sidebar .sub-sidebar{
  display: none;
}
#sidebar .nav-sidebar .sublist-4{
  display: block;
}

.ace_editor {
  width: 100%;
  height: 400px;
}

#section-0 {
  margin-top: 50px;
}

.content .pre-selection.section,
.content .post-selection.section {
  margin-top: 0;
}

.hypercube-table-annotated .body-left {
  padding-bottom: 100px;
}


.pre-selection .body-left {
  padding-bottom: 100px;
}

.post-selection .body-left {
  padding-bottom: 60px;
}

.paint-editor.section,
.paint-editor-2.section, 
.paint-editor-3.section, 
.paint-editor-4.section {
  .body-right {
    padding-top: 58px;
  }
}

.my-marker {
  position:absolute;
  background: #1366aa;
  z-index: 5;
}

.paint-editor {
  .body-left {
    padding-bottom: 80px;
  }

  .ace_editor {
    height: calc(16px*7);
  }
}

.paint-editor-2 {
  .body-left {
    padding-bottom: 200px;
  }

  .ace_editor {
    height: calc(16px*28);
  }
}

.paint-editor-3 {
  .body-left {
    padding-bottom: 200px;
  }

  .ace_editor {
    height: calc(16px*11);
  }
}

.paint-editor-4 {
  .body-left {
    padding-bottom: 200px;
  }

  .ace_editor {
    height: calc(16px*14);
  }
}

.extension-selection .body-left {
  padding-bottom: 50px;
}