#sidebar .nav-sidebar .sub-sidebar{
  display: none;
}
#sidebar .nav-sidebar .sublist-5{
  display: block;
}

.ace_editor {
  width: 100%;
  height: 400px;
}

#section-0 {
  margin-top: 50px;
}

.files-with-stylesheet.section {
  .body-right {
    padding-top: 152px;
  }
}

.css-editor.section,
.require-js-editor.section,
.require-js-editor-2.section,
.require-js-editor-3.section,
.require-js-editor-4.section,
.javascript-editor-2.section,
.properties-editor.section,
.properties-editor-2.section,
.properties-editor-3.section,
.properties-editor-4.section {
  .body-right {
    padding-top: 58px;
  }
}

.css-editor.section {
  .ace_editor {
    height: calc(16px*6);
  }
}

.require-js-editor.section {
  .ace_editor {
    height: calc(16px*6);
  }
}

.require-js-editor-2.section {
  .ace_editor {
    height: calc(16px*6);
  }
}

.require-js-editor-3.section {
  .ace_editor {
    height: calc(16px*6);
  }
}

.require-js-editor-4.section {
  .ace_editor {
    height: calc(16px*11);
  }
}

.keep-it-modular.section + div {
  margin-top: 0;

  .body-left {
    margin-top: 0;
  }
}

.javascript-editor-2.section {
  .ace-editor {
    height: calc(16px*20);
  }
}

.properties-editor.section {
  .ace-editor {
    height: calc(16px*7);
  }
}

.properties-editor-2.section {
  .ace-editor {
    height: calc(16px*9);
  }
}

.properties-editor-3.section {
  .ace-editor {
    height: calc(16px*13);
  }
}

.properties-editor-4.section {
  .ace-editor {
    height: calc(16px*6);
  }
}