$FontPathOpenSans: "../../../node_modules/npm-font-open-sans/fonts/";
@import "../../../node_modules/npm-font-open-sans/open-sans";

/* ========= Container =========*/
body {
  overflow-x: hidden;
}
.main-content {
  margin-left: 47px;
}
.content {
    width: 100%;
}

/* ========= Header =========*/
.content .header h1 {
  margin-top: 66px;
  font-family: Raleway;
  font-weight: 500;
  color: #36B7CE;
}
.content .header p {
  font-family: "Open Sans";
  font-weight: 300;
  /*font-style: italic;*/
  background-color: rgba(54,183,207,0.07);
}
.content .header hr {
  border-top-width: 1px;
  border-top-color: #E1E1E1;
  margin-bottom: 0;
}

/* ========= Body =========*/
.content h2 {
  margin-top: 0;
  margin-bottom: 18px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #36B7CF;
}
.content h3 {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: #36B7CF;
}
.content h4 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #36B7CF;
}
.content p {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #565555;
  line-height: 30px;
}
.content .row {
  position: relative;
}
.content .body-right {
  float: right;
}
.content .section {
  margin-top: 100px;
}

/* ========= Graphs ========= */
.section {
  position: relative;
}
.body-left {
  margin-top: 500px;
}
#section-0 .body-left {
  margin-top: 0;
}
.body-right {
  position: absolute;
  padding-top: 200px;
  top: 0;
  right: 0;
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateY(0);
}
#section-0 .body-right {
  padding-top: 0;
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateY(0);
}
.graph-scroll-fixed .body-right {
  position: fixed;
  right: 0;
  left: calc(47px + 0.5*(100% - 47px));
  width: calc(0.5*(100% - 47px))
}
.graph-scroll-below .body-right {
  position: absolute;
  right: 0;
  bottom: 0;
  top: auto;
}

/* ========= Media =========*/
@media(min-width: 768px){
  /*.content .section-list .body-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }*/
}
@media(min-width: 992px) {
  .main-content {
    margin-left: 220px;
  }
  .content {
    width: calc(100% - 180px);
    margin-left: 90px;
    margin-right: 90px;
  }
  .graph-scroll-fixed .body-right {
    left: calc(220px + 0.50*(100% - 220px));
    width: calc(0.5*(100% - 400px))
  }
}