/* Activate Sidebar Selection */
#sidebar .nav-sidebar{
  .sub-sidebar{
    display: none;
  }

  .sublist-0{
    display: block;
  }
}

/* Adjust Header */
.content .header p:first-of-type {
  font-family: "Raleway";
  font-size: 20px;
  color: #565555;
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin-bottom: 33px;
}

.embedded-dashboard {
  .graph {
    position: relative;

    img {
      width: 100%;
      height: auto;
      margin: auto;
    }

    .iframe-container {
      position: absolute;
      top: 4.8%;
      left: 3.9%;
      width: 92.2%;
      // max-width: 505px;
      height: 64.2%;
      border: none;

      iframe {
        position: relative;
        width: 100%;
        height: 100%;
        // top: -50%;
        // left: -50%;
        // width: 200%;
        // height: 200%;
        // border: none;
        // transform: scale(0.5, 0.5);
      }
    }
  }
}

.self-service {
  .body-right {
    padding-top: 200px;
  }
}

.move-past-basics {
  .body-right {
    padding-top: 200px;

    .graph {
      p {
        margin-top: 20px;
        text-align: center;
        font-weight: 500;
      }
    }
  }
}