.open-ecosystem{
  h3 {
    padding-top: 500px;
  }
  .body-left {
    padding-bottom: 400px;
  }
  .body-right {
    padding-top: 0;
  }

  h3:first-of-type {
    padding-top: 0;
  }

  .graph {
    position: relative;
    height: 100%;

    & > img:first-child {
      max-width: 70%;
      padding-top: 15px;
    }
    & > img:nth-child(2) {
      position: absolute;
    }
    & > img:nth-child(3) {
      position: absolute;
    }
    & > img:nth-child(4) {
      position: absolute;
    }

    .div-container {
      position: absolute;
      width: 100%;
    }

    .big-circle {
      fill: #4A90E2;
    }
    .small-circle {
      fill: #36B7CF;
    }
    .text {
      font-family: 'Open Sans';
      font-size: 11px;
      font-weight: bold;
      text-anchor: middle;
      fill: white;
    }
    .big-line {
      stroke-width: 2;
      stroke: #4A90E2;
      stroke-dasharray: 2;
    }
    .small-line {
      stroke-width: 2;
      stroke: #36B7CF;
      stroke-dasharray: 2;
    }
  }
}