#sidebar {
  .nav-sidebar {
    .sub-sidebar{
      display: none;
    }
    .sublist-2{
      display: block;
    }
  }
}

.row {
  width: 100%;
}

.ace_editor {
  width: 100%;
  height: 400px;
}

.resource-list-design {
  .body-right {
    padding-top: 80px;
  }
}

.my-table-folder .body-right {
  padding-top: 250px;
}

.container-and-properties {
  .body-left {
    padding-bottom: 60px;
  }

  .body-right {
    padding-top: 200px;
  }
}

.generic-object-properties {
  .body-right {
    padding-top: 200px;
  }
}

.static-dyn-prop-interactive .body-left {
  padding-bottom: 200px;
}
.static-dyn-prop-interactive .dynamic-line-1,
.static-dyn-prop-interactive .dynamic-line-2 {
  stroke-width: 1;
  stroke: #36B7CF;
  stroke-dasharray: 2, 4;
}
.static-dyn-prop-interactive .dynamic-line-1-fill {
  stroke-width: 1.5;
  stroke: #36B7CF;
}
.static-dyn-prop-interactive .dynamic-circle-fill {
  stroke: #36B7CF;
}
.static-dyn-prop-interactive .dynamic-line-2-fill {
  stroke-width: 1.5;
  stroke: #36B7CF;
}

.properties-layout-visual.section {
  margin-top: 200px;

  .body-right {
    margin-top: 0;
    padding-top: 0;
  }
}

.content .section.extension-architecture-diagram {
  margin-top: 200px;
  // margin-bottom: 400px;

  .body-right {
    padding-top: 0;
  }
}

.qext-editor,
.js-editor,
.initial-properties-editor,
.definition-editor,
.def-initprops-editor,
.paint-editor,
.js-editor-2,
.support-editor,
.js-editor-3 {
  .body-right {
    padding-top: 58px;
  }
}