#sidebar .nav-sidebar .sub-sidebar {
  display: none;
}
#sidebar .nav-sidebar .sublist-6 {
  display: block;
}

.ace_editor {
  width: 100%;
  height: 400px;
}

#section-0 {
  margin-top: 50px;
}

.css-editor.section,
.resize-editor.section,
.resize-editor-2.section {
  .body-right {
    padding-top: 58px;
  }
}

.css-editor.section {
  .ace_editor {
    height: calc(16px*8);
  }
}

.resize-editor.section {
  .ace_editor {
    height: calc(16px*19);
  }
}

.resize-editor-2.section {
  .ace_editor {
    height: calc(16px*9);
  }
}