.static-dyn-prop-interactive .right-label {
  text-anchor: end;
}
.static-dyn-prop-interactive .interactive-number {
  text-anchor: start;
}
.static-dyn-prop-interactive .interactive-label,
.static-dyn-prop-interactive .interactive-number {
  font-family: "Open Sans";
  font-size: 16px;
  color: #565656;
}
.static-dyn-prop-interactive .input-box {
  font-family: "Open Sans";
  font-size: 16px;
  color: #565656;
  position: absolute;
  width: 40px;
  border: solid 1px #36B7CF;
}
.static-dyn-prop-interactive .dropdown-box {
  font-family: "Open Sans";
  font-size: 14px;
  color: #565656;
  position: absolute;
  border: solid 1px #36B7CF;
}
.static-dyn-prop-interactive img {
  position: absolute;
  width: 12%;
}
.static-dyn-prop-interactive .static-line {
  stroke-width: 1;
  stroke: #36B7CF;
}
.dynamic-circle {
  fill: none;
  stroke: #36B7CF;
  stroke-dasharray: 2, 4;
}