.main-content {
  margin-left: 47px;
}
.content .header h1 {
  margin-top: 66px;
  font-family: Raleway;
  font-weight: 500;
  color: #36B7CE;
}
.content .header p {
  font-family: Raleway;
  font-weight: 300;
  font-style: italic;
}
.content .header hr {
  border-top-width: 1px;
  border-top-color: #E1E1E1;
}
.content .body h2 {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 500;
  color: #36B7CF
}
@media(min-width: 768px) {
  .main-content {
    margin-left: 220px;
  }
  .content {
    width: calc(100% - 180px);
    margin-left: 90px;
    margin-right: 90px; 
    /*width: calc(750px - 220px);*/
  }
}
/*@media(min-width: 992px) {
  .content {
    width: calc(970px - 220px);
  }
}
@media(min-width: 1200px) {
  .content {
    width: calc(1170px - 220px)
  }
}*/