/* ========= Container =========*/
.main-content {
  margin-left: 47px;
}
.content {
    width: 100%;
}
.content hr {
  border-top-width: 1px;
  border-top-color: #E1E1E1;
}

/* ========= Header =========*/
.content .header h1 {
  margin-top: 66px;
  font-family: Raleway;
  font-weight: 500;
  color: #36B7CE;
}
.content .header p {
  font-family: Raleway;
  font-weight: 300;
  font-style: italic;
}

/* ========= Body =========*/
.content .body-left h2 {
  margin-top: 0;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #36B7CF;
}
.content .body-left h3 {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: #36B7CF;
}
.content .body-left h4 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #36B7CF;
}
.content .body-left p {
  margin-bottom: 0;
  margin-top: 10px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #565555;
}
/*.row {
  position: relative;
  height: 100%;
}*/
.body-right {
  position: relative;
  height: 50px;
}
#body-left > div {
  opacity: 0.3;
}
#body-left.graph-scroll-active {
  opacity: 1;
}
#section-0 {
  position: relative;
}
#ext-sunburst {
  position: absolute;
  /*padding-left: 15px;
  padding-right: 15px;*/
  width: 300px;
  right: 15px;
  /*margin-left: 472px;*/
  /*margin-top: 20px;
  margin-bottom: 10px;*/
  /*top: 20px;*/
  /*width: 300px;*/
}
.graph-scroll-fixed #ext-sunburst {
  position: fixed;
  top: 0;
  right: 120px;
}
.graph-scroll-below #ext-sunburst {
  position: absolute;
  top: auto;
  bottom: 0px;
}

/* ========= Media =========*/
@media(min-width: 992px) {
  .main-content {
    margin-left: 220px;
  }
  .content {
    width: calc(100% - 180px);
    margin-left: 90px;
    margin-right: 90px;
  }
}