/* ========= Container =========*/
.main-content {
  margin-left: 47px;
}
.content {
    width: 100%;
}

/* ========= Header =========*/
.content .header h1 {
  margin-top: 66px;
  font-family: Raleway;
  font-weight: 500;
  color: #36B7CE;
}
.content .header p {
  font-family: Raleway;
  font-weight: 300;
  font-style: italic;
}
.content .header hr {
  border-top-width: 1px;
  border-top-color: #E1E1E1;
  margin-bottom: 0;
}

/* ========= Body =========*/
.content .body-left h2 {
  margin-top: 56px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #36B7CF;
}
.content .body-left h3 {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: #36B7CF;
}
.content .body-left h4 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #36B7CF;
}
.content .body-left p {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #565555;
}
.content .row {
  position: relative;
}
.content .section {
  margin-bottom: 50px;
}

/* ========= Images ========= */

/* ========= Media =========*/
@media(min-width: 768px){
  .content .list-section-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
  .content .list-image {
    float: right;
  }

  .content .body-right #ext-sunburst {
    margin-top: 56px;
    margin-bottom: 10px;
  }
  .content .body-right #ext-navigation {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .content .body-right #ext-resize {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media(min-width: 992px) {
  .main-content {
    margin-left: 220px;
  }
  .content {
    width: calc(100% - 180px);
    margin-left: 90px;
    margin-right: 90px;
  }
}