/* Activate Sidebar Selection */
#sidebar .nav-sidebar .sub-sidebar{
  display: none;
}
#sidebar .nav-sidebar .sublist-0{
  display: block;
}

.embedded-dashboard .graph {
  position: relative;
}

/* Align embedded iframe dashboard in monitor */
.embedded-dashboard .graph .iframe-container {
  position: absolute;
  top: 4.8%;
  left: 3.9%;
  width: 92.2%;
  height: 64.2%;
  border: none;
}

.embedded-dashboard .graph .iframe-container iframe {
  position: relative;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border: none;
  transform: scale(0.5, 0.5);
}