#section-1 .body-right,
#section-2 .body-right {
  opacity: 0;
}

#section-7 .body-right,
#section-9 .body-right,
#section-10 .body-right {
  padding-top: 20px;
}

#section-7 .body-right img,
#section-10 .body-right img {
  max-height: 500px;
}