#sidebar .nav-sidebar .sub-sidebar{
  display: none;
}
#sidebar .nav-sidebar .sublist-2{
  display: block;
}

.ace_editor {
  width: 100%;
  height: 350px;
}

.my-table-folder .body-right {
  padding-bottom: 50px;
}

.container-and-properties .body-left {
  padding-bottom: 150px;
}

.static-dyn-prop-interactive .body-left {
  padding-bottom: 200px;
}
.static-dyn-prop-interactive .dynamic-line-1,
.static-dyn-prop-interactive .dynamic-line-2 {
  stroke-width: 1;
  stroke: #36B7CF;
  stroke-dasharray: 2, 4;
}
.static-dyn-prop-interactive .dynamic-line-1-fill {
  stroke-width: 1.5;
  stroke: #36B7CF;
}
.static-dyn-prop-interactive .dynamic-circle-fill {
  stroke: #36B7CF;
}
.static-dyn-prop-interactive .dynamic-line-2-fill {
  stroke-width: 1.5;
  stroke: #36B7CF;
}