#sidebar .nav-sidebar .sub-sidebar{
  display: none;
}
#sidebar .nav-sidebar .sublist-2{
  display: block;
}

.body-left {
  padding-bottom: 100px;
}
.ace_editor {
  width: 100%;
  height: 350px;
}

.resource-list-design .body-left {
  padding-bottom: 80px;
}