<div id="sidebar" class="sidebar">
  <div class="sidebar-label">Qlik Extension Tutorial</div>
  <div><a href="javascript:void(0)" class="closebtn">&times;</a></div>
  <hr/>
  <ul class="nav nav-sidebar">
    <li class="chapter-0 active"><a href="100. Prereq Qliks Open Ecosystem.html"><span class="glyphicon glyphicon-menu-right"></span> 100. Qlik's open ecosystem</a>
      <ul class="nav sub-sidebar sublist-0">
        <li><a href="#h2-0">Meet the Qlik Sense client</a></li>
        <li><a href="#h2-1">Qlik Sense under the hood</a></li>
        <li><a href="#h2-2">The open ecosystem</a></li>
        <li><a href="#h2-3">Why an open ecosystem?</a></li>
        <li><a href="#h2-4">Fin</a></li>
      </ul>
    </li>
    <li class="chapter-1"><a href="101. What Are Extensions.html"><span class="glyphicon glyphicon-menu-right"></span> 101. What are extensions</a>
      <ul class="nav sub-sidebar sublist-1">
        <li><a href="#h2-0">What are extensions conceptually?</a></li>
        <li><a href="#h2-1">What are extensions technically?</a></li>
        <li><a href="#h2-2">How do you deploy an extension?</a></li>
        <li><a href="#h2-3">Fin</a></li>
      </ul>
    </li>
    <li class="chapter-2"><a href="#"><span class="glyphicon glyphicon-menu-right"></span> 102. Hello World</a></li>
    <li class="chapter-3"><a href="#"><span class="glyphicon glyphicon-menu-right"></span> 103. Make it data driven</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-menu-right"></span> 104. Make it selectable</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-menu-right"></span> 105. Make it stylish</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-menu-right"></span> 106. Make it responsive</a></li>
  </ul>
</div>